.components {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form {
  align-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 700;
  margin: 15px;
}

.newCard {
  align-items: center;
  border: solid black 3px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 30%;
}
